<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
	<link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">
	{% metagen meta %}

	<link rel="stylesheet" href="https://use.typekit.net/jnd3lda.css">
	<link rel="stylesheet" href="/assets/css/main.css">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml" | prepend:
		site.github.url | prepend: site.url }}">
</head>