@keyframes fadeIn {
    0% {
        opacity: 0;
        
    }
    50% {
        opacity: .5;
        
    }
    100% {
        opacity: 1;
        
    }
}

@keyframes red_fill {
    0% {
        fill: transparent;
    }
    100% {
        fill: #d2202e;
    }
}

@keyframes black_fill {
    0% {
        fill: transparent;
    }
    100% {
        fill: #000
    }   
}

@keyframes dash {
    from {
      stroke-dashoffset: 1;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

.www {
    animation: red_fill 10s linear forwards;
}

.bucket {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation: dash 5s linear alternate forwards, black_fill 10s ease-in forwards;
}

.sign {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation: dash 5s linear alternate forwards, black_fill 10s ease-in forwards;
}

.code {
    animation: red_fill 10s ease-in forwards;
}

.puddle {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation: dash 5s linear alternate forwards, black_fill 10s ease-in forwards;
}

.drops {
    animation: fadeIn 7s forwards;
    animation-delay: 5s;
    opacity: 0;
}

.caution {
    animation: fadeIn 7s forwards;
    animation-delay: 5.5s;
    opacity: 0;
}

.raw {
    animation: fadeIn 7s forwards;
    animation-delay: 6s;
    opacity: 0;
}
