@keyframes fadeIn {
    0% {
        opacity: 0;
        
    }
    50% {
        opacity: .5;
        
    }
    100% {
        opacity: 1;
        
    }
}

.bucket {
    animation: fadeIn 11s forwards;
    animation-delay: 1s;
    opacity: 0;
}

.sign {
    animation: fadeIn 9s forwards;
    animation-delay: 3s;
    opacity: 0;  
}

.puddles {
    animation: fadeIn 8s forwards;
    animation-delay: 5s;
    opacity: 0;
}

.raw {
    animation: fadeIn 7s forwards;
    animation-delay: 7s;
    opacity: 0;
}
