.site {
    margin-inline: auto;
  width: clamp(16rem, 93vw, 75rem);
  }



  h1 {
    margin: 0;
  }
  
  .mainheader {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  .site-branding {
    flex-grow: 2;
  }

  .mainnav{
    margin-right: 3rem;
    transform: rotate(-2deg);
  }

  .primary-img {
    margin-inline: auto;
    width: clamp(16rem, 93vw, 75rem);
    height: auto;
    max-width: 75ch;
    display: flex;
    justify-content: center;


  svg {
    width: 60%;
    height: auto;
    transform: rotate(-1deg);
    align-self: center;
  }
}

.thoughts {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    p {
        align-self: center;
        text-align: center;
    }
}

.thoughts > *:first-child {
    transform: rotate(-5deg);
}

@media (min-width: 550px) {
    .thoughts > *:first-child {
    width: 25%;
    }
}

.home article {
    margin-inline: auto;
  width: clamp(16rem, 93vw, 75rem);
  max-width: 50ch;
}