<!doctype html>
<html lang="en">

{% include "head.html" %}

<body class="home">
    <div class="site">
        {% include "header.html" %}
        <main class="content">
            <div class="primary-img">
                {% include "bucket-sign.html" %}
            </div>
            <article>
                <h2>Obligatory Marketing Copy</h2>
                <p>
                    We are looking to partner with agencies and teams to improve outcomes. We offer opportunities to handle maintanance and support, as well as new development. Additionally, we can help with training and mentoring to help your team grow.
                </p>
                <h2>Real Talk</h2>
                <p>
                    You have a mess and don't know where to start. You are tired of putting on band-aids and bolting stuff on. You don't really want to bring someone on full time, but you need someone to help you get out of the hole you are in and help right the ship. That's
                    where we come in.
                </p>
            </article>
            <h2>How</h2>
            <section class="thoughts">

                <p class="loud">When all you have is a hammer, everything is a nail.</p>
                <ul>
                    <li>create buy in</li>
                    <li>minimize friction</li>
                    <li>measurable outcomes</li>

                </ul>
                <p class="loud circled">Reduce technical debt.</p>
            </section>


        </main>

        {% include "footer.html" %}
    </div>
</body>

</html>